* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: 	#686868;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	/* background: #000;
	color: #999; */
	margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
}

img {
	width: 100%;
}

.wrapper {
    margin: 0;
    padding: 0;
  }

header {
	padding: 20px 20px 0 20px;
	position: fixed;
	top: 0;
	display: grid;  
	grid-gap:5px;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas: "nt mn mn sb . . . "; 
	background-color: var(--primary);
	width: 100%;
	margin-bottom: 0px;  
}  

.netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 160px;
    max-height: 100%;
    
    padding-left: 30px;
    padding-top: 0px;  
  }
.netflixLogo img {  
	height: 35px;     
}
#logo {
    color: #E50914;  
    margin: 0; 
    padding: 0; 
  }
  .main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
  }
  
  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav a:hover {
    color: var(--dark);
  }


ul {
	list-style: none;
}

h1 {
    padding-top: 60px;  
}

h1,
h2,
h3,
h4 {
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
	color: var(--dark);
}



.showcase {
	width: 100%;
	height: 100vh;
	position: relative;
	background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.65);
	box-shadow: inset 30px 10px 150px #000000;
}

.logo {
	position: relative;
	z-index: 2;
	height: 90px;
}

.logo img {
	width: 170px;
	position: absolute;
	top: 20px;
	left: 40px;
}
/* edit by me */
.menus {
	position: relative;
	z-index: 2;
	height: 90px;
}
/* edit by me */
.showcase-content {
	position: relative;
	z-index: 2;
	width: 450px;
	height: 650px;
	background: rgb(0, 0, 0, 0.65);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	padding: 60px 65px;
}

.formm h1 {
	margin-bottom: 20px;
    font-size: 2em;
    /* font-weight: bolder; */

}

.formm {
	width: 100%;
	margin-bottom: 40px;
}

.formm .info {
	padding: 5px 0;
	/* margin-bottom: 20px; */
}

.formm .info .email {
	margin-bottom: 30px;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: inherit;
    color: white;
}

.formm .btn {
	margin-bottom: 10px;
	width: 100%;
}



/* My edit */

.showcase-contents {
	position: absolute;
    left: 120px;
    top: 120px;
	z-index: 2;
	/* width: 1020px; */
	/* height: 650px; */
	/* background: rgb(0, 0, 0, 0.65); */
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	padding: 60px 65px;
}

.formms h1 {
	margin-bottom: -65px;
    font-size: 6.5em;
    font-weight: bolder;

}
.formms h2 {
	margin-top: 35px;
    font-size: 2em;
    /* font-weight: bolder; */
}

.formms {
	width: 100%;
	margin-bottom: 40px;
}

.formms .info {
	padding: 5px 0;
	/* margin-bottom: 20px; */
}

.formms .info .email {
	margin-bottom: 30px;
    margin-top: 10px;
	width: 60%;
	height: 50px;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: inherit;
    color: white;
}

.formms .btn {
	
	width: 100%;
}

    /* End myEdit */


.btn-primary {
	width: 20%;
	height: 50px;
	border-radius: 5px;
	background: red;
	color: #fff;
	font-size: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

.btn-primary:hover{
    background: #F6121D;
}

.help {
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
}

.help a {
	color: #999;
}

.help a:hover {
	text-decoration: underline;
}

/* ------ input ------- */

input[type=checkbox] {
	background: #737373;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 0;
	height: 16px;
	left: -20px;
	width: 16px;
	margin-right: 5px;
}

input[type=email] {
	background: #343434;
}

input[type=password] {
	background: #343434;
}

/* ------ input end ------- */

.fcbk {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 0.8em;
}

.fcbk img {
	width: 20px;
	margin-right: 10px;
}

.signup {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.signup p {
	margin-right: 5px;
}

.more {
	font-size: 0.8em;
	line-height: 1.1em;
}

.more a {
	color: rgb(17, 108, 228);
}

.more a:hover,
.signup a:hover {
	text-decoration: underline;
}

/* ------ FOOTER ------- */

footer {
	position: absolute;
	bottom: 0;
	margin-top: 50px;
	z-index: 2;
	background: rgba(0, 0, 0, 0.65);
	width: 100%;
	height: 179px;
}

.ftr-content {
	margin-left: 10%;
	padding-top: 20px;
	font-size: 1em;
}

.ftr-content a {
	color: #999;
}

.ftr-content a:hover {
	text-decoration: underline;
}

.contact {
	margin-bottom: 30px;
}

.contact a:hover {
	text-decoration: underline;
}

.ftr {
	margin-bottom: 30px;
	width: 70%;
	font-size: 0.8em;
	display: flex;
	justify-content: space-between;
}

.select select {
	width: 100px;
	height: 40px;
	border: none;
	font-size: inherit;
	padding-left: 10px;
	background: #333333;
    color: white;
}

/* MAIN CONTIANER */
.main-container {
    padding: 50px;
  }
  
  .box {
    display: grid;
    background-color: var(--primary);
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .box a {
    transition: transform .3s;  
  }
  
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .box img {
    border-radius: 2px;
  }
  
  /* LINKS */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  .logos a{
    padding: 10px;
  }
  
  .logo {
    color: var(--dark);
  }

  /* MEDIA QUERIES */
  
  @media(max-width: 900px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  
  }
  
  @media(max-width: 700px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
     
  }
  
  @media(max-width: 500px) {
  
    .wrapper {
      font-size: 15px;
    }
  
    header {
      margin: 0;
      padding: 20px 0 0 0;
      position: static;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
      "nt"    
      "mn"
      "sb";
      text-align: center;
    }
  
    .netflixLogo {
      max-width: 100%;
      margin: auto;
      padding-right: 20px;
    }
  
    .main-nav {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  
    h1 {
      text-align: center;
      font-size: 18px;
    }
  
   
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;    
    }
  
    .box a:hover {
      transition: transform .3s;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);  
      transform: scale(1.2);
    }
  
    .logos {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      font-size: 15px;
    }
  }